@model IEnumerable<Piscesco.Models.Product>
@using Piscesco.Controllers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BlobsController bc = new BlobsController();
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-stallID="">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="center-td">
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td class="center-td" style="max-width:75px">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="center-td description-td">
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td class="center-td">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="center-td">
                @Html.DisplayFor(modelItem => item.ProductUnit)
            </td>
            <td style="text-align:center" class="description-td">
                <img src="@bc.GetImage(item.ProductImage)" style="max-height:75px;max-width:100px" />
            </td>
            <td class="center-td">
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
